logging:
  level:
    root: INFO
    com.example.ragchat: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

app:
  security:
    mode: JWT

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8082/realms/ragchat
